FLASK_APP=app.py
FLASK_ENV=development
DATABASE_HOST=mysql
DATABASE_PORT=3306
DATABASE_NAME=tripcircle_db
DATABASE_USER=tripcircle_user
DATABASE_PASSWORD=changeme_secure_password
MYSQL_ROOT_PASSWORD=changeme_root_password
SECRET_KEY=changeme_secret_key_min_32_chars